.message { 
    display: none;
}

@font-face {
        font-family: "Lucida Console, monospace";
}


body {
	background-color: black;	
}


#container {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -400px;
}

#console {
	background-color:black; 
	height: 400px; 
	width: 800px; 
	margin: 0 auto;
	overflow: hidden;
	color: white;
}

#console p {
	color: white;
	display: none;
	font-size: 17px;
	line-height: 1.2;
	font-family: "Lucida Console", monospace;
	overflow: hidden;
}


/* #command_line {
	display: none;
} */

input {
	background-color: black;
	color: white;
	border: 1px solid black;
	font-family: "Lucida Console", monospace;
	font-size: 17px;
}

input:focus {
	outline: none;
}